table{
    border: 5px solid grey;
}

td{
    border: 2px solid grey;
}

ul{
    color: lightslategrey;
}
img {
    width: 200px;
    height: 250px;
}

#phone, mail {
    width: 40px;
    height: 40px;
}

#mail {
    width: 40px;
    height: 40px;
}

p {
    color: lightslategrey;
}